@page
@model ProjetoPilotoReboque.Models.ViewModels.Error
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["title"]</h1>
<h2 class="text-danger">@Model.Message</h2>


<p>
    <strong>Request ID:</strong> <code>@Model.RequestId</code>

</p>


