<div class="text-center">
    <h1>Bem Vindo</h1>
    <h2>Este é o site principal de Trabalho</h2>
    <br/>

    <p>Aqui você pode Fazer as seguintes operações abaixo</p>

    <ul class="list-unstyled">
        <li>Criar Novo acionamento</li>
        <li>Consultar acionamento</li>
        <li>Atualizar o Acionamento</li>
        <li>Excluir Acionamento</li>

    </ul>

</div>